.members{
    background: #292929;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

.members h1{
    text-align: center;
    color: blanchedalmond;
    font-size: 45px;
    margin-bottom: 20px;
}

.memebrs .hide{
    text-align: center;
}



.member img{

    margin: 45px 0 0 50px;
    box-sizing: border-box;

}
.member p{
    text-align: center;
}

.member{
    position:flex;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.5s ease;
    color:blanchedalmond;
    transition: all 0.3s ease;
}

.member:hover{

    width: 175px;
    height: 175px;
    border: 1px solid black;
    border-radius: 30px;
    display: inline-block;
    background: #212121;
    color:whitesmoke;
}

.x2{
    
    justify-content: center;
}






@media (max-width:550px){

    .member{
        margin-left: 35%;
    }


}

