body {
    background: url("bg.jpg");
    
    font-family: 'Ubuntu', sans-serif;
}

.form{
    background-color: crimson;
    width: 50ch;
    border-radius: 30px;
    height: 60vh;
    margin-top: 10%;
    margin-left: 35%;
}

h1.login-title {
    color: whitesmoke;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 40px;
}
.login-input {
    font-size: 15px;
    border: 1px solid whitesmoke;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: 30ch;
    margin-left:100px;
    margin-top: 10px;
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    margin-left:110px;
    width: 50%;
    height: 50px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 25px;
    font-family: 'Ubuntu', sans-serif;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    margin-top: 10px;
    color: whitesmoke;
    font-size: 20px;
}
h3 {
    font-weight: normal;
    text-align: center;
}
